* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    align-items: center;
}
.menu {
    display: flex;
    width: 150px;
    justify-content: space-between;
}
.container {
    display: flex;
    justify-content: space-evenly;
    height: 400px;
    position: relative;
}
.card {
    background-color: transparent;
    color: black;
    margin: 20px;
    padding: 15px;
    flex: 1;
    border-radius: 10px;
    border-color: lightblue;
    border-style: solid;
    opacity: 1;
}
.card:hover {
    background-color: lightblue;
    box-shadow: 1px 5px 10px;
}

ul {
    list-style-type: none;
}

a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

a:hover {
    color: white;
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

h3 {
    list-style-type: none;
}

button {
    border-style: none;
    color: aqua;
    background-color: transparent;
    padding: 15px 32px;
}

button:hover {
    color: blue;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    h3 {
        text-align: center;
    }
}